.header{
  width: 100%;
  height: 90px;
  background: #3b5998;
}
body{
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif;;
}
.logo{
  width: 50%;
  padding-top: 32px;
  float: left;
}
.login{
  width: 50%;
  float: left;
  padding-top: 10px;
}
.logo-text{
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 170px;

}
.email-label{
  color: white;
}
  

.password-label{
  color: white;
  padding-left: 15px;


}  
.password-text{
  margin-left: 15px;
}
.login-button{
  color: white;
  background:#4267b2;
  border: #4267b2;
  margin-left: 10px;
  cursor: pointer;
    
  
}

.forgot-account-link{
  color: #9cb4d8;
  text-decoration: none;
  margin: 15px;
}
.login-button:hover{
  background-color: #3b5998;
}

.left-section{
 width: 48%;
  height: 700px;
  float: left;
  background: linear-gradient(white,#D3D8E8);
}.right-section{
  background: linear-gradient(white,#D3D8E8);
  width: 52%;
  height: 700px;
  
  float: left;
}
.para1{
  padding-left: 23%;
  color: #3b5998;
  
  padding-top: 29px;
  font-size: 20px;
  font-weight: bold;
}

  


.main-body{
  width: 100%;
  height: 910px;
 
  
}
.image{
  margin-left: 180px;
  width: 450px;
}
#first-name{
  width: 170px;
  height: 28px;
  margin-top: 25px;
  font-size: 15px;
}
#surname{
  width: 170px;
  height: 28px;
  margin-top: 25px;
  font-size: 15px;

}




#Password{
 
  width: 352px;
  height: 28px;
  font-size: 15px;
  margin-top: 5px;
}
#email{
  width: 352px;
  height: 28px;
  margin-top: 25px;
  font-size: 15px;
  margin-top: 2px;
}
.para2{
  font-size: 10px;
}
.sign-up{
  height: 35px;
  width: 200px;
  background: #42b72a;
  border-color: #42b72a;
}
.terms{
  color: #3b5998;
}
.data-policy{
  color: #3b5998;
}
.cookie-policy{
  color: #3b5998;
}
.birthday{
  color: #4267b2;
}

.question-mark {
  font-size: 30px;
  color: #555;
}


.content4{
  width: 450px;
  height: 300px;
  
  margin-left: 95px;
  margin-top: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  transition: background-color 0.3s ease; 
}
.content4:hover{
  background-color: #141c3a;
}
.img{
  width: 450px;
  height: 300px;
}